main{
    margin-left: 15%;
    margin-top: 5%;
    color: white;
    font-size: 30px;
    font-family:'courier New', 'monospace';
}

section img{
    float: left;
    height: 300px;
}

section h1{
    display: flex;
    justify-content: center;
    margin-left: -15%;
}