header div{
    display: flex;
    justify-content: space-around;
    background-color:#213f6b;
    font-size: 20px;
    padding: 20px;
}

body{
    margin: 0px;
    background-image: url("../img/fond.png");
    background-size: cover;
    background-position: center;
}

a{
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.5s ;
}

a:hover{
    color: black;
    text-decoration: underline;
    font-size: larger;
}