main{
    margin-left: 10rem;
    margin-top: 2rem;
    color: white;
    font-size: 2rem;
    font-family:'courier New', 'monospace';
}

section img{
    float: left;
    height: 18rem;
}

section h1{
    display: flex;
    justify-content: center;
    margin-left: -10rem;
}