header div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#213f6b;
    font-size: 30px;
    padding: 2rem;
}

header img{
    height: 5rem;
    display: block;
}

a{
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.5s ;
}

a:hover{
    color: black;
    text-decoration: underline;
    font-size: larger;
}

body{
    margin: 0px;
    background-image: url("../img/fond.png");
    background-size: cover;
    background-position: center;
    color: white;
}