#menu{
    position: fixed;
    display: flex;
    align-items: center;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 86px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #E83046;
    z-index: 1;
}