html{
    padding: 0%;
    margin: 0%;
}

header{
    position: fixed;
    display: flex;
    align-items: center;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 86px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #213f6b;
    z-index: 1;
}