.launch{
    background-color: rgb(120, 120, 184);
    padding: 5px;
    border-radius: 5rem;
    margin: 1rem;
}

#questions{
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid white;
    height: 22rem;
    width: 35rem;
    left: 30rem;
    top: -2rem;
    border-radius: 5rem;
    margin-left: 33%;
}

#ennoncer{
    margin-left: 1rem;
    margin-right: 1rem;
}

#reponses{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    width: 15rem;
}

#scoreBox{
    display: flex;
    margin-left: 2rem;
    font-size: 23px;
}

a{
    color: white;
}

body{
    background-image: url("../img/fond.png");
    color: white;
}

#a ,#b ,#c ,#d{
    background-color: #213f6b;
    color: white;
    border-radius: 2rem;
    width: 8rem;
    height: 5rem;
    margin: 0.5rem;
}

#q,#ennoncer{
    font-size: 1.5rem;
}

#q{
    margin-bottom: 0.5rem;
}

#reset{
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: larger;
}

