button{
    background-color: rgb(120, 120, 184);
    padding: 5px;
    border-radius: 5rem;
    margin: 1rem;
}

#questions{
    margin: 1rem;
    display: flex;
    justify-content: center;
}

#reponses{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    border: solid;
    width: 15rem;
}

