.launch{
    background-color: rgb(120, 120, 184);
    padding: 5px;
    border-radius: 5rem;
    margin: 1rem;
}

#questions{
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid white;
    height: 20rem;
    width: 35rem;
    position: relative;
    left: 30rem;
    top: -2rem;
    border-radius: 5rem;
    font-size: l;
}

#reponses{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    width: 15rem;
}

header div{
    display: flex;
    justify-content: space-around;
    background-color:#213f6b;
    font-size: 20px;
    padding: 20px;
}

a{
    color: white;
}

body{
    margin: 0px;
    background-image: url("../img/fond.png");
    background-size: cover;
    background-position: center;
    color: white;
}

.col1 , .col2{
}

#a ,#b ,#c ,#d{
    background-color: #213f6b;
    color: white;
    border-radius: 2rem;
    width: 8rem;
    height: 5rem;
}

h1{
    margin-left: 3rem;
    position: relative;
    top: -3rem;
}

#q,#ennoncer{
    font-size: 25px;
}

#q{
    margin-bottom: 4px;
}

#reset{
    padding-left: 100px;
    padding-right: 100px;
    font-size: larger;
}