button{
    background-color: rgb(120, 120, 184);
    padding: 5px;
    border-radius: 5rem;
    margin: 1rem;
}

#questions{
    margin: 1rem;
    display: flex;
    justify-content: center;
}

#reponses{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    border: solid;
    width: 15rem;
}

header div{
    display: flex;
    justify-content: space-around;
    background-color:#213f6b;
    font-size: 20px;
    padding: 20px;
}

a{
    color: white;
}

body{
    margin: 0px;
    background-image: url("../img/fond.png");
    background-size: cover;
    background-position: center;
    color: white;
}